apiVersion: v1
kind: Service
metadata:
  name: analytics-service
spec:
  type: {{ .Values.service.type }}
  selector:
    app: analytics
  ports:
    - protocol: {{ .Values.service.protocol }}
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
