{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "network-monitoring.fullname" . }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /dashboard(/|$)(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ include "dashboard.fullname" .Subcharts.dashboard }}
            port:
              number: 8000
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: {{ include "analytics.fullname" .Subcharts.analytics }}
            port:
              number: 8000
{{- end }}